 div {
     width: 100px;
     height: 100px;
     background-color: red;
     color: white;
     border: 10px solid black;
 }

 div.absolute {
     position: absolute;
     width: 100px;
     height: 100px;
     left: 100px;
     background-color: blue;
     border: 10px solid purple;

 }

 div.relative {
     position: relative;
     width: 100px;
     height: 100px;
     left: 200px;
     background-color: green;
     border: 10px solid purple;
 }

 div.fixed {
     position: fixed;
     width: 100px;
     height: 100px;
     top: 200px;
     right: 300px;
     background-color: yellow;
     border: 10px solid purple;
 }

 div.sticky {
     position: sticky;
     width: 100px;
     height: 100px;
     top: 200px;
     background-color: orange;
     border: 10px solid purple;
 }

 div.first {
     position: absolute;
     width: 100px;
     height: 100px;
     opacity: 0.1;
     background-color: pink;
     border: 10px solid purple;
 }

 div.second {
     position: absolute;
     width: 100px;
     height: 100px;
     opacity: 0.2;
     background-color: purple;
     border: 10px solid black;
 }